@import "constants.less";
@import url('https://fonts.googleapis.com/css?family=Raleway|Montserrat');

@mobile-section-distance: 30px;
@parameters-width: 300px;

* {

  outline: none;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-input-placeholder {

  color: #BDBDBD;
}

::-moz-placeholder {

  color: #BDBDBD;
}

:-ms-input-placeholder {

  color: #BDBDBD;
}

:-moz-placeholder {

  color: #BDBDBD;
}

.no-scroll {

  overflow: hidden !important;
}

.hidden {

  display: none !important;
}

.invisible {

  visibility: hidden;
}

.loader {

  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 99999999999999;
  margin: 0;
  padding: 0;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 0;
  top: 0;

  .spinner {

    background-image: url('../assets/images/loader.svg');
    background-size: 100px;
    width: 100px;
    height: 100px;
  }

  .loader-label {

    font-size: 20px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
  }
}

.model-creator {

  background-color: #E7E8EC;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  &.full-screen {

    @media @normal-screen {

      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .inner-wrapper {

    opacity: 0;
    transition: opacity @transition-duration ease-out;
    display: flex;
    flex-direction: column;

    @media @small-screen {
      max-width: 500px;
      width: 100%;
    }

    @media @normal-screen {

      width: 1060px;
    }

    .header {

      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      font-size: 34px;
      line-height: 41px;
      color: #202020;
      text-align: left;
      display: flex;
      margin-left: 20px;
      margin-right: 20px;

      @media @small-screen {
        font-weight: normal;
        margin-top: 20px;
        margin-bottom: @mobile-section-distance;
      }

      @media @normal-screen {
        font-weight: normal;
        margin-top: 50px;
        margin-bottom: 50px;
      }
    }

    .steps {

      display: flex;

      @media @small-screen {

        flex-direction: column;
        // margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
      }

      @media @normal-screen {

        // margin-bottom: 50px;
        justify-content: center;
      }

      .step {

        @media @normal-screen {

          &:not(:last-child) {

            margin-right: 50px;
          }
        }

        .step-no {

          height: 48px;
          width: 48px;
          opacity: 0.6;
          background-color: #B1B1B1;
          border-radius: 100%;
          color: #FFFFFF;
          font-family: 'Roboto', sans-serif;
          font-size: 18px;
          font-weight: bold;
          line-height: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 30px;

          @media @small-screen {

            display: none;
          }
        }

        .content {

          width: 100%;

          .label {
            font-weight: normal;
            height: 16px;
            width: 122px;
            color: #828282;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 16px;
            margin-bottom: 20px;
          }
        }

        &.step1 {

          @media @normal-screen {

            width: 250px;
          }

          @media @small-screen {

            width: 100%;
          }

          .content {

            .height {

              display: flex;
              flex-direction: column;
              align-items: center;
              position: relative;

              .height-input-mixin() {

                border: none;
                padding: 10px !important;
                color: #000;
                font-size: 28px;
                line-height: 28px;
                width: 100%;
                min-width: 0;
                height: 34px;
                box-sizing: content-box;

                &::placeholder,
                &:-ms-input-placeholder,
                &::-ms-input-placeholder {
                  color: #828282 !important;
                }
              }

              .height-wrapper {

                width: 100%;

                .units {
                  font-weight: normal;
                  font-size: 12px;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  div {

                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    height: 16px;
                    width: 30px;
                    color: #828282;
                    font-family: Arial, sans-serif;
                    font-size: 16px;
                    line-height: 16px;
                    border-radius: 4px;
                    margin-right: 10px;
                    padding: 5px;
                    box-sizing: content-box;

                    @media @small-screen {

                      padding: 10px;
                    }

                    &.active {

                      cursor: default;
                      background-color: #ECECEC;
                    }
                  }
                }

                .height-input-wrapper {

                  display: flex;
                  justify-content: space-between;
                  background-color: white;

                  &.focus {

                    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                  }
                }

                &.height-wrapper-cm {

                  .height-input-wrapper-cm {

                    .height-input {

                      .height-input-mixin();
                    }
                  }
                }

                &.height-wrapper-in {

                  .height-input-wrapper-in {

                    display: flex;

                    .height-input {

                      .height-input-mixin();
                    }
                  }
                }

                .invalid-height {

                  visibility: hidden;
                  color: #E70000;
                  font-size: 15px;
                  display: flex;
                  font-family: Arial, sans-serif;

                  @media @small-screen {

                    justify-content: center;
                    align-items: center;
                    height: @mobile-section-distance;
                  }

                  @media @normal-screen {

                    margin-top: 10px;
                    margin-bottom: 10px;
                  }
                }
              }

              &.has-error {

                .height-input-wrapper {

                  outline: 1px solid #E70000;
                }

                .height-input {

                  color: #E70000 !important;
                }

                .invalid-height {

                  visibility: visible;
                }
              }

              &[data-unit="cm"] {

                .height-wrapper {

                  &.height-wrapper-in {

                    display: none;
                  }
                }
              }

              &[data-unit="in"] {

                .height-wrapper {

                  &.height-wrapper-cm {

                    display: none;
                  }
                }
              }
            }

            .gender-wrapper {

              display: flex;

              @media @small-screen {

                margin-bottom: @mobile-section-distance;
              }

              .gender {
                font-weight: normal;
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                color: #363636;
                font-family: Arial, sans-serif;
                font-size: 15px;
                line-height: 16px;
                cursor: pointer;

                &.gender-female {

                  margin-left: 8px;
                }

                &.gender-male {

                  margin-right: 8px;
                }

                &.active {

                  background-color: #525252;
                  color: white;
                  cursor: default;
                }

                &:not(.active) {

                  .checkbox {

                    display: none;
                  }
                }

                .checkbox {

                  background-image: url('../assets/images/icon_check.svg');
                  background-repeat: no-repeat;
                  background-position: center;
                  width: 15px;
                  height: 15px;
                  margin-right: 5px;
                }
              }
            }
          }
        }

        &.step2 {

          @media @small-screen {

            width: 100%;
          }

          .photos-wrapper {

            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .photos {

              display: flex;
              justify-content: center;

              @media @small-screen {

                width: 100%;
                justify-content: space-between;
              }

              .frame {

                @media @small-screen {

                  display: flex;
                  justify-content: center;
                  width: 100%;

                  &:not(.has-photo) {

                    background-color: white;
                  }
                }

                .photo-wrapper {

                  position: relative;
                  width: 100%;
                  height: 264px;
                  cursor: pointer;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  @media @normal-screen {

                    min-width: 160px;
                    max-width: 160px;
                  }

                  .drag-overlay {

                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(105, 143, 203, 0.8);
                    cursor: pointer;
                    z-index: 15;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    .photo-type {

                      height: 15px;
                      color: #FFFFFF;
                      font-family: Arial, sans-serif;
                      font-size: 13px;
                      font-weight: bold;
                      line-height: 15px;
                      text-align: center;
                      margin-top: 15px;
                    }

                    .photo-thumbnail {

                      width: 100%;
                      height: 100%;
                      min-height: 0;
                      background-repeat: no-repeat;
                      background-position: center;

                      &.photo-thumbnail-front {

                        background-image: url('../assets/images/front.svg');
                      }

                      &.photo-thumbnail-side {

                        background-image: url('../assets/images/side.svg');
                      }
                    }

                    .frame-label {

                      height: 16px;
                      color: #FFFFFF;
                      font-family: Arial, sans-serif;
                      font-size: 13px;
                      line-height: 16px;
                      text-align: center;
                      margin-bottom: 20px;
                    }
                  }

                  .invalid-photo-overlay {

                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(255, 0, 0, 0.5);
                    cursor: pointer;
                    z-index: 10;

                    &::after {

                      content: '';
                      color: white;
                      position: absolute;
                      top: 5px;
                      right: 5px;
                      width: 15px;
                      height: 15px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      background-image: url('../assets/images/cross_white.svg');
                      background-size: 15px;
                    }
                  }

                  .photo {

                    cursor: pointer;
                    height: auto;
                    max-width: 100%;
                  }
                }

                &.has-error {

                }

                &:not(.has-error) {

                  .photo-wrapper {

                    .invalid-photo-overlay {

                      visibility: hidden;
                    }
                  }
                }

                &.has-photo {

                  .drag-overlay {

                    &:not(.hidden) {

                      .photo-thumbnail {

                        display: none;
                      }
                    }
                  }
                }

                &:not(.has-photo) {

                  .photo-wrapper {

                    background: white;

                    .drag-overlay {

                      &.hidden {

                        display: inherit !important;
                        background-color: transparent;

                        .photo-type {

                          color: #BDBDBD;
                        }

                        .frame-label {
                          font-weight: normal;
                          color: #BDBDBD;
                        }
                      }
                    }

                    .photo {

                      height: 80%;
                    }
                  }
                }

                &:first-child {

                  margin-right: 8px;
                }

                &:last-child {

                  margin-left: 8px;
                }
              }
            }

            .template {
              font-weight: normal;
              font-family: Arial, sans-serif;
              font-size: 15px;
              width: 100%;
              margin-top: 10px;
              cursor: pointer;
              text-align: center;

              u {

                font-size: 15px;
                cursor: pointer;
              }
            }

            .invalid-photo {

              @media @small-screen {

                justify-content: center;
                align-items: center;
                height: @mobile-section-distance;
              }

              @media @normal-screen {

                margin-top: 10px;
              }

              display: flex;
              font-family: Arial, sans-serif;
              color: #E70000;
              font-size: 15px;
              width: 100%;
              justify-content: center;

              span {

                font-size: 15px;
              }
            }

            &:not(.has-error) {

              .invalid-photo {

                visibility: hidden;
              }
            }
          }
        }

        &.step3 {

          @media @small-screen {

            width: 100%;
          }

          @media @normal-screen {

            width: 340px;
          }

          form {

            .inputs {

              display: flex;
              flex-direction: column;

              .input {

                height: 34px;
                background-color: #FFFFFF;
                margin-bottom: 16px;
                margin-left: 0;
                margin-right: 0;
                padding: 10px !important;
                border: none;
                color: #000;
                font-family: Arial, sans-serif;
                font-size: 16px;
                line-height: 16px;
                flex: 1 0 auto;
                box-sizing: content-box;
                width: auto !important;

                &:focus {

                  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                }

                &.invalid {

                  outline: 1px solid #E70000;
                  color: #E70000;
                  outline-offset: -1px;
                }
              }
            }

            &:invalid {

              .button {

                background-color: #8C8C8C;
                cursor: default;
              }
            }
          }
        }
      }
    }
  }

  .model-viewer {

    @media @small-screen {

      position: relative;
      width: 100%;
    }

    @media @normal-screen {

      position: relative;
      width: 100%;
      height: 575px;
    }

    .container {

      @media @normal-screen {

        position: absolute;
        left: 0;
        top: 0;
        right: @parameters-width;
        bottom: 0;
      }
    }

    .reload-button {

      position: absolute;
      width: 48px;
      height: 48px;
      left: 20px;
      top: 20px;
      cursor: pointer;
      background-image: url('../assets/images/reload-button.svg');
    }

    .buttons {

      @media @small-screen {

        width: auto;
        padding: 20px;
      }

      @media @normal-screen {

        position: absolute;
        width: 250px;
        left: 20px;
        bottom: 20px;
      }
    }

    .parameters-wrapper {

      display: flex;
      flex-direction: column;
      background-color: white;

      @media @small-screen {

        width: 100%;
      }

      @media @normal-screen {

        position: absolute;
        width: @parameters-width;
        right: 0;
        top: 0;
        height: 100%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      }

      .unit-switcher {

        display: flex;
        flex: 0 0 auto;
        padding: 10px;

        .cm, .inch {

          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          line-height: 16px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          border-radius: 4px;

          &.active {

            background: #ECECEC;
          }

          &:not(.active) {

            cursor: pointer;
          }
        }
      }

      .parameters {

        display: flex;
        overflow-y: auto;
        flex-direction: column;
        width: 100%;

        .parameter {

          padding-left: 20px;
          padding-right: 20px;
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          line-height: 40px;
          display: flex;
          height: 38px;
          flex: 1 0 auto;
          border-top: 1px solid #E7E7E7;

          &:last-child {

            border-bottom: 1px solid #E7E7E7;
          }

          .parameter-name {

            color: #4D4D4D;
            font-weight: bold;
            width: 100%;
          }

          .parameter-value {

            color: #676767;
            flex: 1 0 auto;
          }
        }
      }
    }
  }

  .buttons {

    display: flex;
    width: 100%;
    flex-direction: column;

    .button {

      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 54px;
      color: #FFFFFF;
      font-family: 'Raleway', sans-serif;
      font-size: 16px;
      font-weight: 900;
      line-height: 16px;
      border-radius: 4px;
      background-color: #6A92CB;
      cursor: pointer;

      &:not(:last-child) {

        margin-bottom: 10px;
      }
    }
  }

  &:not(.mobile) {

    .inner-wrapper {

      .steps {

        .step {

          &.step1 {

            .content {

              .height {

                .height-wrapper {

                  .height-input-wrapper {

                    &:hover {

                      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                    }
                  }
                }
              }

              .gender-wrapper {

                .gender {

                  &:not(.active) {

                    &:hover {

                      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                    }
                  }
                }
              }
            }
          }

          &.step2 {

            .photos-wrapper {

              .photos {

                .frame {

                  &.has-photo {

                    &:hover {

                      .drag-overlay {

                        display: inherit !important;

                        .photo-thumbnail {

                          display: none;
                        }
                      }
                    }
                  }

                  &:not(.has-photo) {

                    &:hover {

                      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                    }
                  }
                }
              }
            }
          }

          &.step3 {

            .inputs {

              .input {

                &:hover {

                  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                }
              }
            }
          }
        }
      }
    }
  }

  &.loaded {

    .inner-wrapper {

      visibility: visible;
      opacity: 1;
    }
  }
}

.model-creator {
  position: relative;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  font-family: Arial, serif;

  &__info {
    // text-align: center;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-family: Arial, serif;
    color: #000;
    text-decoration: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;

    &:hover {
      &::before, &::after {
        background: #000;
      }
    }
  
    &::before, &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background: #000;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &.big {
      transform: scale(3);
    }

    &.hairline {
      &::before, &::after {
        height: 1px;
      }
    }
  }

  &__body {
    background: #ffffff;
    padding: 35px;
    width: 100%;
    max-width: 300px;
    position: relative;

    label {
      display: block;
      font-family: serif;
      margin-bottom: 15px;
    }

    input {
      display: block;
    }

    input[type="password"],
    input[type="email"] {
      display: block;
      border: 1px solid #ccc !important;
      margin: 5px 0 !important;
      width: 100%;
      height: 34px;
      background-color: #FFF !important;
      margin-bottom: 16px !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding: 10px !important;
      color: #000;
      font-family: Arial,sans-serif;
      font-size: 16px !important;
      line-height: 16px;
      box-sizing: border-box;

      &.invalid {

        outline: 1px solid #E70000;
        color: #E70000;
        outline-offset: -1px;
      }
    }

    #do-login {
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      width: 100%;
      height: 54px;
      color: #FFF;
      font-family: Raleway,sans-serif;
      font-size: 16px;
      font-weight: 900;
      line-height: 16px;
      border-radius: 4px;
      background-color: #6A92CB;
      cursor: pointer;
      box-sizing: border-box;
    }
  }

  &__invalid {
    color: #E70000;
    font-weight: bold;
    font-size: 14px;
  }
}

.model-creator-tip {
  font-size: 17px;
  margin-top: 0;
  margin-left: 18px;
  font-weight: bold;
  color: #828282;
  font-family: Arial,sans-serif;
}

.model-creator-form label {
  font-weight: normal;
}

body[data-form-style="minimal"] #demo-3d-holder input[type="text"],
body[data-form-style="minimal"] #demo-3d-holder input[type="email"],
body[data-form-style="minimal"] #demo-3d-holder input[type="password"] {
  font-family: Arial, serif;
}

body[data-form-style="minimal"] #demo-3d-holder .modal__form input[type="email"],
body[data-form-style="minimal"] #demo-3d-holder .modal__form input[type="password"] {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

body[data-form-style="minimal"] #demo-3d-holder input::-webkit-input-placeholder{ color: #848484; }
body[data-form-style="minimal"] #demo-3d-holder input::-moz-placeholder{ color: #848484; }
body[data-form-style="minimal"] #demo-3d-holder input:-moz-placeholder{ color: #848484; }
body[data-form-style="minimal"] #demo-3d-holder input:-ms-input-placeholder{ color: #848484; }