@import "constants.less";
@import url('https://fonts.googleapis.com/css?family=Raleway');

.without-overflow {

  overflow: hidden;
}

.sw-button {

  display: inline-block;
  cursor: pointer;

  .sw-hanger {

    width: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
  }

  .sw-text {

    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    color: #000000;
    display: inline-block;
    vertical-align: top;
  }

  &.b-1 {

    line-height: 20px;
    height: 20px;

    .sw-hanger {

      height: 20px;
      background-image: url('../assets/images/hanger-b-1.svg');
    }
  }

  &.b-2 {

    line-height: 30px;
    height: 30px;

    .sw-hanger {

      height: 30px;
      background-image: url('../assets/images/hanger-b-2.svg');
    }
  }

  &.b-3 {

    line-height: 30px;
    height: 30px;

    .sw-hanger {

      height: 30px;
      background-image: url('../assets/images/hanger-b-3.svg');
    }
  }
}