@import "constants.less";
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,900');

@female-button-gradient-background: linear-gradient(90deg, #5413a8, #ee37cd);
@male-button-gradient-background: linear-gradient(90deg, #5fc9f7, #4724a9);
@common-gradient-background: linear-gradient(90deg, #62c9f7 0%, #3d46b4 25%, #7a24a7 75%, #d441c3 100%);

* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: @normal-font-size;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

::-webkit-input-placeholder {

  color: #cccccc;
}

::-moz-placeholder {

  color: #cccccc;
}

:-ms-input-placeholder {

  color: #cccccc;
}

:-moz-placeholder {

  color: #cccccc;
}

img {

  image-rendering: -webkit-optimize-contrast;
  display: block;
}

.text-gradient-mixin(@background) {

  @supports ((background-clip: text) or (-webkit-background-clip: text)) {

    & {

      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      background-image: @background;
    }
  }
}

.button-mixin(@width; @background) {

  width: @width;
  position: relative;
  border: 1px solid transparent;
  border-radius: 15px;
  background: white;
  background-clip: padding-box;
  cursor: pointer;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.active {

    background: transparent;
    cursor: default;

    .text {

      color: white;
      background-image: none;
    }
  }

  &.disabled {

    &::after {

      background: #cccccc;
    }

    .text {

      color: #cccccc;
      background-image: none;
    }
  }

  &::after {

    position: absolute;
    content: '';
    z-index: -1;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    border-radius: 15px;
    background: @background;
  }

  .text {

    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #000;
    font-size: 20px;

    .text-gradient-mixin(@background);
  }
}

.gender-button-mixin(@background) {

  @media @small-screen {

    .button-mixin(100%, @background);
  }

  @media @normal-screen {

    .button-mixin(150px, @background);
  }
}

.gender-icon-mixin(@background; @background-image; @background-image-active) {

  width: 48px;
  height: 48px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 48px;
  background: white;
  background-clip: padding-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &.active {

    background: transparent;
    cursor: default;

    .icon {

      background-image: @background-image-active;
    }
  }

  &::after {

    position: absolute;
    content: '';
    z-index: -1;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    border-radius: 48px;
    background: @background;
  }

  .icon {

    width: 100%;
    height: 34px;
    background-image: @background-image;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.without-overflow {

  overflow: hidden;
}

.hidden {

  display: none !important;
}

.invisible {

  visibility: hidden;
}

.modal {

  padding: @padding @padding 0 @padding;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

  .header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 15;
    height: 15px;

    .show-help {

      span {

        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 12px;
        cursor: pointer;
      }

      @media @small-screen {

        &.help-shown {

          display: none;
        }
      }
    }

    .back {

      @media @normal-screen {

        display: none;
      }

      span {

        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        cursor: pointer;
        color: #000;

        .text-gradient-mixin(@common-gradient-background);
      }
    }

    .show-help,
    .back {

      .invisible-clickable-area {

        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        z-index: -1;
        width: 50px;
        height: 50px;
      }
    }

    .caption {

      @font-size: 10px;

      img {

        height: 10px;
        margin-right: 5px;
      }

      display: flex;
      font-size: @font-size;
      line-height: @font-size;
      color: #666666;
      align-items: baseline;
      justify-content: center;
      width: 100%;
    }

    .close-modal-wrapper {

      display: flex;
      justify-content: flex-end;

      .close-modal {

        width: 10px;
        height: 10px;
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-image: url(../assets/images/cross_white.svg);
        background-size: 10px;

        .background {

          position: absolute;
          top: -10px;
          right: -10px;
          z-index: -1;
          width: 0;
          height: 0;
          border-top: 50px solid #000;
          border-left: 50px solid transparent;
          cursor: default;
        }
      }
    }

    .show-help,
    .back,
    .close-modal-wrapper {

      width: 50px;
    }
  }

  .logo {

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    bottom: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo_image {

      width: 160px;
      margin-bottom: 20px;
    }

    .powered_by {

      @font-size: 10px;

      font-size: @font-size;
      line-height: @font-size;
      display: flex;
      align-items: center;
      color: #666666;
      width: 100%;
      justify-content: center;

      .platform_image {

        height: 15px;
        margin-left: 5px;
      }
    }
  }

  .loader {

    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000000000;
    margin: 0;
    padding: 0;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    top: 0;

    .spinner {

      background-image: url('../assets/images/loader.svg');
      background-size: 100px;
      width: 100px;
      height: 100px;
    }

    .loader-label {

      font-size: 20px;
      margin-top: 10px;
    }
  }

  .help {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    @media @small-screen {

      z-index: 10;
    }

    @media @normal-screen {

      z-index: 20;
    }

    .container {

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.75);

      .hide-help {

        position: absolute;
        right: 30px;
        top: 30px;
        width: 10px;
        height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        cursor: pointer;
        z-index: 20;
        background-size: 10px;
        background-image: url('../assets/images/cross_black.svg');

        @media @small-screen {

          display: none;
        }
      }

      .content {

        background: white;
        position: absolute;
        color: black;
        padding: 40px;
        text-align: left;

        h3, h5 {

          margin-bottom: 0;
          font-family: 'Nunito Sans', sans-serif;
          font-style: normal;
          font-weight: 900;
        }

        h5 {

          font-size: 10px;

          &:first-child {

            margin-top: 0;
          }
        }

        h3 {

          font-size: 15px;
          margin-top: 0;
        }

        .scroll {

          overflow-y: auto;
          height: 100%;

          div {

            font-size: 10px;
            line-height: 14px;
          }
        }

        @media @small-screen {

          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }

        @media @normal-screen {

          top: 20px;
          bottom: 20px;
          left: 20px;
          right: 20px;
        }
      }
    }
  }

  .wrapper {

    display: flex;
    height: 100%;

    .content {

      display: flex;
      flex-direction: column;
      text-align: center;
      width: 100%;

      .welcome {

        @font-size: 17px;

        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: @font-size;
        line-height: @font-size;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .instruction {

        @media @small-screen {

          margin-left: 20px;
          margin-right: 20px;
        }

        @media @normal-screen {

          margin-left: 60px;
          margin-right: 60px;
        }

        margin-bottom: 10px;
        font-size: 12px;
      }

      .steps {

        height: 100%;
        min-height: 240px;
        flex: 1;
        position: relative;

        .step {

          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          position: absolute;

          .step-content {

            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;

            .step-title {

              font-size: 12px;
              margin-bottom: 10px;
            }
          }

          &.video-guide {

            .video-wrapper {

              @media @normal-screen {

                margin-left: 10px;
                margin-right: 10px;
              }

              .video {

                position: relative;
                padding-bottom: 56.25%;
                padding-top: 25px;
                height: 0;

                iframe {

                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }

          &.start {

            .gender {

              display: flex;
              justify-content: center;

              &.buttons {

                .female {

                  @media @small-screen {

                    margin-right: 5px;
                  }

                  @media @normal-screen {

                    margin-right: 15px;
                  }

                  .gender-button-mixin(@female-button-gradient-background);
                }

                .male {

                  @media @small-screen {

                    margin-left: 5px;
                  }

                  @media @normal-screen {

                    margin-left: 15px;
                  }

                  .gender-button-mixin(@male-button-gradient-background);
                }
              }

              &.icons {

                .female {

                  margin-right: 20px;

                  .gender-icon-mixin(@female-button-gradient-background, url('../assets/images/female.svg'), url('../assets/images/female_active.svg'));
                }

                .male {

                  margin-left: 20px;

                  .gender-icon-mixin(@male-button-gradient-background, url('../assets/images/male.svg'), url('../assets/images/male_active.svg'));
                }
              }
            }

            .height {

              display: flex;
              flex-direction: column;
              align-items: center;

              .height-title {

                margin-top: 30px;
                font-size: 12px;

                .units {

                  font-size: 12px;

                  span {

                    cursor: pointer;
                    font-size: 12px;

                    &.active {

                      font-family: 'Nunito Sans', sans-serif;
                      font-style: normal;
                      font-weight: 900;
                      cursor: default;
                    }
                  }
                }
              }

              .height-input-mixin() {

                border: none;
                border-bottom: 1px solid #cccccc;
                padding: 0;
                text-align: center;
                width: 60px;
                color: #cccccc;
                font-size: 30px;
                margin-top: 10px;
                margin-bottom: 10px;
              }

              .height-wrapper {

                &.height-wrapper-cm {

                  .height-cm {

                    .height-input {

                      .height-input-mixin();
                    }
                  }
                }

                &.height-wrapper-in {

                  .height-in {

                    display: flex;
                    justify-content: center;

                    .height-input {

                      .height-input-mixin();

                      &.height-input-ft {

                        margin-right: 10px;
                      }

                      &.height-input-in {

                        margin-left: 10px;
                      }
                    }
                  }
                }

                .invalid-height {

                  visibility: hidden;
                  color: red;
                  font-size: @small-font-size;
                }
              }

              &.has-error {

                .height-input {

                  border-bottom: 1px solid red !important;
                  color: red !important;
                }

                .invalid-height {

                  visibility: visible;
                }
              }

              &[data-unit="cm"] {

                .height-wrapper {

                  &.height-wrapper-in {

                    display: none;
                  }
                }
              }

              &[data-unit="in"] {

                .height-wrapper {

                  &.height-wrapper-cm {

                    display: none;
                  }
                }
              }
            }
          }

          &.photos-upload {

            .photos-wrapper {

              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              .photos {

                display: flex;
                justify-content: center;

                .frame {

                  .photo-wrapper {

                    position: relative;
                    width: 100px;
                    height: 150px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .drag-overlay {

                      position: absolute;
                      left: 0;
                      top: 0;
                      width: 100%;
                      height: 100%;
                      background: rgba(0, 0, 0, 0.2);
                      cursor: pointer;
                      z-index: 15;

                      &:after {

                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        outline: 1px dashed #000;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                      }
                    }

                    .invalid-photo-overlay {

                      position: absolute;
                      left: 0;
                      top: 0;
                      width: 100%;
                      height: 100%;
                      background: rgba(255, 0, 0, 0.5);
                      cursor: pointer;
                      z-index: 10;

                      &::after {

                        content: '';
                        color: white;
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        width: 15px;
                        height: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-image: url('../assets/images/cross_white.svg');
                        background-size: 15px;
                      }
                    }

                    .photo {

                      cursor: pointer;
                      height: auto;
                      max-width: 100%;
                    }
                  }

                  .frame-label {

                    font-size: @small-font-size;
                    margin-top: 10px;
                  }

                  &.has-error {

                  }

                  &:not(.has-error) {

                    .photo-wrapper {

                      .invalid-photo-overlay {

                        visibility: hidden;
                      }
                    }
                  }

                  &.has-photo {

                    .frame-label {

                      visibility: hidden;
                    }
                  }

                  &:not(.has-photo) {

                    .photo-wrapper {

                      min-width: 100px;
                      background: #cccccc;

                      .photo {

                        height: 80%;
                      }
                    }
                  }

                  &:first-child {

                    margin-right: 15px;
                  }

                  &:last-child {

                    margin-left: 15px;
                  }
                }
              }

              .template {

                font-size: @small-font-size;
                width: 100%;
                margin-top: 10px;
                cursor: pointer;

                u {

                  font-size: @small-font-size;
                  cursor: pointer;
                }
              }

              .invalid-photo {

                color: red;
                font-size: @small-font-size;
                width: 100%;
                margin-top: 10px;

                span {

                  font-size: @small-font-size;
                }
              }

              &:not(.has-error) {

                .invalid-photo {

                  visibility: hidden;
                }
              }
            }

            .agreement {

              display: flex;
              justify-content: center;
              align-items: center;
              color: #000;

              #agreement-checkbox {

                position: absolute;
                opacity: 0;

                & + label {

                  position: relative;
                  cursor: pointer;
                  padding: 0;
                  display: flex;
                  align-items: center;

                  span {

                    font-size: 12px;
                    line-height: 15px;
                  }
                }

                & + label:before {

                  content: '';
                  margin-right: 5px;
                  display: inline-block;
                  vertical-align: text-top;
                  width: 15px;
                  height: 15px;
                  background-size: 19px;
                  background-position: 50%;
                  outline: 1px solid #000;
                }

                &:checked + label:before {

                  background-image: url('../assets/images/checkbox.svg');
                }
              }

              a {

                font-size: 12px;
                line-height: 15px;
                color: #000;
              }
            }
          }

          &.result {

            .item-name {

              font-family: 'Nunito Sans', sans-serif;
              font-style: normal;
              font-weight: 900;
              font-size: 12px;
            }

            .step-content {

              font-size: 12px;

              .size-container {

                height: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .size-found {

                  display: flex;
                  justify-content: center;
                  flex-direction: column;

                  .size {

                    font-size: 35px;
                    line-height: 35px;
                    color: #000;

                    .text-gradient-mixin(@common-gradient-background);
                  }

                  .underline {

                    background-image: @common-gradient-background;
                    border-image-slice: 1;
                    width: 100%;
                    height: 1px;
                    color: transparent;
                  }
                }

                .size-not-found {

                  height: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                  font-size: 12px;
                }
              }

              .result-text {

                height: 50%;

                .fit-available,
                .suggestion,
                .hint {

                  @media @small-screen {

                    margin-left: 20px;
                    margin-right: 20px;
                  }

                  @media @normal-screen {

                    margin-left: 60px;
                    margin-right: 60px;
                  }

                  font-size: 12px;
                }

                .fit-available {

                  margin-bottom: 5px;
                }

                .suggestion {

                  margin-bottom: 10px;
                }
              }
            }
          }

          .next-step-wrapper {

            @media @small-screen {

              margin-top: 10px;
              margin-bottom: 10px;
            }

            @media @normal-screen {

              margin: 10px auto 10px auto;
            }

            .next-step {

              @media @small-screen {

                .button-mixin(100%, @common-gradient-background);
              }

              @media @normal-screen {

                .button-mixin(250px, @common-gradient-background);
              }

              margin: auto;
            }
          }
        }
      }
    }
  }
}