@import "constants.less";

.sw-modal-backdrop {

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000000000;

  @media @normal-screen {

    display: flex;
    justify-content: center;
    align-items: center;
  }

  iframe {

    @media @small-screen {

      width: 100%;
      height: 100%;
    }

    @media @normal-screen {

      width: 440px;
      height: 100%;
      max-height: 480px;
    }

    border: none;
    background: white;

    &.invisible {

      visibility: hidden;
    }
  }
}