@import "constants.less";
@import url('https://fonts.googleapis.com/css?family=Raleway|Montserrat');

@parameters-width: 300px;

* {

  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.hidden {

  display: none !important;
}

.model-viewer {

  @media @small-screen {

    position: relative;
    width: 100%;
  }

  @media @normal-screen {

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .container {

    @media @normal-screen {

      position: absolute;
      left: 0;
      top: 0;
      right: @parameters-width;
      bottom: 0;
    }
  }

  .loader {

    position: absolute;
    left: 0;
    top: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    background-color: darkgray;
    padding: 5px;
  }

  .parameters-wrapper {

    display: flex;
    flex-direction: column;
    background-color: white;

    @media @small-screen {

      width: 100%;
    }

    @media @normal-screen {

      position: absolute;
      width: @parameters-width;
      right: 0;
      top: 0;
      height: 100%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    .unit-switcher {

      display: flex;
      flex: 0 0 auto;
      padding: 10px;

      .cm, .inch {

        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 16px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 4px;

        &.active {

          background: #ECECEC;
        }

        &:not(.active) {

          cursor: pointer;
        }
      }
    }

    .parameters {

      display: flex;
      overflow-y: auto;
      flex-direction: column;
      width: 100%;

      .parameter {

        padding-left: 20px;
        padding-right: 20px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 40px;
        display: flex;
        height: 38px;
        flex: 1 0 auto;
        border-top: 1px solid #E7E7E7;

        &:last-child {

          border-bottom: 1px solid #E7E7E7;
        }

        .parameter-name {

          color: #4D4D4D;
          font-weight: bold;
          width: 100%;
        }

        .parameter-value {

          color: #676767;
          flex: 1 0 auto;
        }
      }
    }
  }
}