@import "constants.less";
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto|Roboto+Condensed');

* {

  outline: none;
  -webkit-tap-highlight-color: transparent;
}

html, body {

  height: 100%;
  margin: 0;
  padding: 0;
}

body {

  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.demo {

  background: url('../assets/images/website.png') no-repeat top;
  width: 1920px;
  height: 906px;
  min-width: 1920px;
  min-height: 906px;
  position: absolute;

  .saia-widget-container {

    position: absolute;
    left: 990px;
    top: 494px;

    .sw-button.b-2 {

      line-height: 40px;
      height: 40px;

      .sw-hanger {

        height: 40px;
        width: 40px;
      }

      .sw-text {

        padding-left: 5px;
        font-size: 16px;
        vertical-align: text-bottom;
        text-decoration: underline;
      }
    }
  }
}