@import "constants.less";
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto|Roboto+Condensed');

* {

  outline: none;
  -webkit-tap-highlight-color: transparent;
}

/*html, body {

  margin: 0;
  padding: 0;
  overflow-x: hidden;

  @media @normal-screen {

    height: 100%;
  }
}

body {

  display: flex;
  align-items: center;
}*/

.no-scroll {

  /*height: 100%;*/
  overflow: hidden !important;
}

.web-store-demo {

  background-color: #F6F6F8;
  display: flex;
  overflow: hidden;
  width: 100%;

  @media @normal-screen {

    flex-direction: row;
    justify-content: center;
  }

  @media @normal-screen {

    flex-direction: column;
    align-items: center;
  }

  .person-switcher {

    display: flex;

    .person {

      height: 21px;
      color: #797979;
      font-family: 'Raleway', sans-serif;
      font-size: 18px;
      font-weight: bold;
      line-height: 21px;
      border-color: transparent;
      border-bottom-width: 2px;
      cursor: pointer;

      &.woman {

        margin-right: 10px;
      }

      &.man {

        margin-left: 10px;
      }
    }
  }

  &.for-woman {

    * > [data-person="man"] {

      display: none !important;
    }

    .person-switcher {

      .person {

        &.woman {

          border-bottom: 1px solid #797979;
        }
      }
    }
  }

  &.for-man {

    * > [data-person="woman"] {

      display: none !important;
    }

    .person-switcher {

      .person {

        &.man {

          border-bottom: 1px solid #797979;
        }
      }
    }
  }

  .screen {

    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: opacity @transition-duration ease-out;
    width: 100%;

    .backdrop {

      position: relative;
    }

    .title {

      position: relative;

      .label {

        height: 40px;
        color: #202020;
        font-family: 'Raleway', sans-serif;
        font-size: 34px;
        font-weight: bold;
        line-height: 40px;
        white-space: nowrap;
      }

      .hint {

        height: 25px;
        color: #6A92CB;
        font-family: 'Raleway', sans-serif;
        font-size: 21px;
        font-weight: 500;
        line-height: 25px;
      }

      &::after {

        content: '';
        background-repeat: no-repeat;
        background-size: 40px;
        width: 40px;
        height: 40px;
        position: absolute;
        background-position: center;
      }
    }

    .details {

      width: 280px;

      .info {

        height: 32px;
        line-height: 32px;
        display: flex;
        justify-content: space-between;

        .name {

          color: #363636;
          font-family: 'Roboto Condensed', sans-serif;
          font-weight: bold;
        }

        .price {

          color: #6C6C6C;
          font-family: 'Roboto Condensed', sans-serif;
          font-weight: bold;
        }
      }

      .size {

        .header {

          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 12px;
          border-bottom: 1px solid #DEDEDE;

          .caption {

            height: 24px;
            color: #6C6C6C;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 18px;
            font-weight: bold;
            line-height: 24px;
            text-align: left;
          }

          .saia-button {

            cursor: pointer;
            width: 132px;
            height: 40px;
            background: linear-gradient(90deg, #62C9F7 0%, #3D46B4 32.14%, #7A24A7 69.39%, #D441C3 100%);
            border-radius: 2px;
            color: #FFFFFF;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            font-weight: bold;
            line-height: 40px;
            text-align: center;
          }
        }

        .names {

          display: flex;
          margin-top: 12px;

          .name {

            width: 40px;
            height: 40px;
            color: #6C6C6C;
            font-family: 'Roboto', sans-serif;
            font-size: 17px;
            font-weight: 500;
            line-height: 40px;
            display: inline-block;
            text-align: center;

            &:not(:last-child) {

              margin-right: 8px;
            }

            &.active {

              outline: 1px solid #BDBDBD;
              outline-offset: -1px;
            }
          }
        }
      }

      .color {

        margin-top: 24px;

        .header {

          padding-bottom: 12px;
          border-bottom: 1px solid #DEDEDE;

          .caption {

            height: 24px;
            color: #6C6C6C;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 18px;
            font-weight: bold;
            line-height: 24px;
            text-align: left;
          }
        }

        .names {

          display: flex;
          margin-top: 12px;

          .name {

            width: 68px;
            height: 40px;
            color: #6C6C6C;
            background-color: #EFEFEF;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            font-weight: bold;
            line-height: 40px;
            text-align: center;

            &:not(:last-child) {

              margin-right: 8px;
            }

            &.active {

              outline: 1px solid #BDBDBD;
              outline-offset: -1px;
              background-color: #FFFFFF;
            }
          }
        }
      }

      .add-button {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 68px;
        color: #6C6C6C;
        background-color: #EFEFEF;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        text-align: center;
        margin-top: 36px;
      }

      .icons {

        display: flex;
        margin-top: 32px;
        box-sizing: content-box;

        .icon {

          width: 20px;
          height: 20px;
          padding: 0;
          background-size: contain;
          background-origin: content-box;
          background-repeat: no-repeat;

          &:not(:last-child) {

            margin-right: 24px;
          }

          &.heart {

            background-image: url('../assets/images/heart.svg');
          }

          &.facebook-logo {

            background-image: url('../assets/images/facebook-logo.svg');
          }

          &.twitter-logo {

            background-image: url('../assets/images/twitter-logo.svg');
          }

          &.pinterest-logo {

            background-image: url('../assets/images/pinterest-logo.svg');
          }
        }
      }
    }

    .desktop {

      display: flex;
      padding: 40px;
      position: absolute;
      top: 84px;
      background: #FFFFFF;
      box-shadow: 0 0 50px rgba(128, 128, 128, 0.3);
      transition: top @transition-duration ease-out;

      .photo {

        width: 430px;
        height: 490px;
        margin-right: 40px;

        &[data-person="woman"] {

          background-image: url('../assets/images/coat_desktop.png');
        }

        &[data-person="man"] {

          background-image: url('../assets/images/jacket_desktop.png');
        }
      }

      .details {

        .info {

          .name {

            font-size: 32px;
          }

          .price {

            font-size: 23px;
          }
        }

        .size {

          margin-top: 45px;
        }
      }
    }

    .mobile {

      display: flex;
      padding-left: 30px;
      padding-right: 30px;
      background: #FFFFFF;
      box-shadow: 0 0 50px rgba(128, 128, 128, 0.3);
      transition: top @transition-duration ease-out;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;

      .device {

        .top {

          display: flex;
          justify-content: center;
          align-items: center;
          height: 46px;

          .circle {

            background-color: #EBEBEB;
            border-radius: 100%;

            &.big {

              width: 14px;
              height: 14px;
              margin-right: 9px;
            }

            &.small {

              width: 10px;
              height: 10px;
            }
          }
        }

        .photo {

          width: 280px;
          height: 142px;

          &[data-person="woman"] {

            background-image: url('../assets/images/coat_mobile.png');
          }

          &[data-person="man"] {

            background-image: url('../assets/images/jacket_mobile.png');
          }
        }

        .bullets {

          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;

          .bullet {

            background-color: #E7E7E7;
            border-radius: 100%;
            width: 9px;
            height: 9px;

            &.active {

              background-color: #BDBDBD;
            }

            &:not(:last-child) {

              margin-right: 8px;
            }
          }
        }

        .details {

          .info {

            .name {

              font-size: 22px;
            }

            .price {

              font-size: 18px;
            }
          }

          .size {

            margin-top: 12px;
          }
        }
      }
    }

    &.normal {

      @desktop-title-top: 283px;
      @desktop-switch-view-button-top: 457px;
      @mobile-title-top: 187px;
      @mobile-switch-view-button-top: 457px;

      @media @small-screen {

        display: none !important;
      }

      flex-direction: row;
      justify-content: center;
      min-width: 1310px;
      height: 620px;

      .person-switcher-wrapper {

        width: 100px;
        position: relative;
        z-index: 10;

        .person-switcher {

          position: absolute;
          transition: transform @transition-duration ease-out;
          top: 84px;
        }
      }

      .title {

        position: absolute;
        transition: top @transition-duration ease-out, opacity @transition-duration ease-out;

        &::after {

          top: 0;
          height: 100%;
        }
      }

      .mobile {

        position: absolute;
      }

      .switch-view-button {

        position: absolute;
        display: flex;
        align-items: center;
        height: 43px;
        cursor: pointer;
        transition: top @transition-duration ease-out, opacity @transition-duration ease-out;

        .icon {

          height: 43px;
          background: no-repeat center;
        }

        .text {

          margin-left: 16px;
          height: 21px;
          width: auto;
          color: #797979;
          font-family: 'Raleway', sans-serif;
          font-size: 18px;
          font-weight: 500;
          line-height: 21px;
        }
      }

      .desktop-backdrop {

        width: 830px;

        .title {

          right: 0;
          text-align: right;

          &::after {

            background-image: url('../assets/images/arrow-right.svg');
            right: -60px;
          }
        }

        .switch-view-button {

          right: 0;

          .icon {

            width: 38px;
            background-image: url('../assets/images/desktop-icon.svg');
          }
        }
      }

      .mobile-backdrop {

        width: 340px;

        .title {

          text-align: left;

          &::after {

            background-image: url('../assets/images/arrow-left.svg');
            left: -60px;
          }
        }

        .switch-view-button {

          .icon {

            width: 25px;
            background-image: url('../assets/images/mobile-icon.svg');
          }
        }
      }

      &.desktop-view {

        .person-switcher-wrapper {

          .person-switcher {

            transform: translateX(100px);
          }
        }

        .backdrop {

          &.desktop-backdrop {

            .title {

              top: @desktop-title-top - @transition-offset;
              opacity: 0;
            }

            .switch-view-button {

              top: @desktop-switch-view-button-top - @transition-offset;
              opacity: 0;
            }

            .desktop {

              top: 84px;
            }
          }

          &.mobile-backdrop {

            .title {

              top: @mobile-title-top;
              opacity: 1;
            }

            .switch-view-button {

              top: @mobile-switch-view-button-top;
              opacity: 1;
            }

            .mobile {

              top: 540px;
            }
          }
        }
      }

      &.mobile-view {

        .person-switcher-wrapper {

          .person-switcher {

            transform: translateX(-100%);
          }
        }

        .backdrop {

          position: relative;

          &.desktop-backdrop {

            .title {

              top: @desktop-title-top;
              opacity: 1;
            }

            .switch-view-button {

              top: @desktop-switch-view-button-top;
              opacity: 1;
            }

            .desktop {

              top: 540px;
            }
          }

          &.mobile-backdrop {

            .title {

              top: @mobile-title-top - @transition-offset;
              opacity: 0;
            }

            .switch-view-button {

              top: @mobile-switch-view-button-top - @transition-offset;
              opacity: 0;
            }

            .mobile {

              top: 25px;
            }
          }
        }
      }
    }

    &.small {

      @media @normal-screen {

        display: none !important;
      }

      flex-direction: column;
      align-items: center;

      .title {

        margin-bottom: 70px;

        .label {

          height: 30px;
          line-height: 30px;
          font-size: 25px;
          text-align: center;
          margin-top: 30px;
          margin-bottom: 10px;
        }

        .hint {

          height: 21px;
          line-height: 21px;
          font-size: 18px;
          text-align: center;
        }

        &::after {

          width: 100%;
          background-image: url('../assets/images/arrow-down.svg');
          margin-top: 10px;
          left: 0;
        }
      }

      .person-switcher {

        margin-bottom: 25px;
      }

      .mobile {

        .details {

          .icons {

            display: none;
          }
        }
      }
    }

    &.loaded {

      visibility: visible;
      opacity: 1;
    }
  }
}